* {
    padding: 0;
    margin: 0;
    border: 0;
}

img {
    height: 100%;
}

body {
    background-color: rgb(32, 32, 32);
}

.header {
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 40% 90%, 30% 100%, 0% 100%);
    background-color: white;
    height: 100px;
    width: 100%;
    position: absolute;
    border-bottom: 1.6vh solid #FF7700;
}

textarea {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    font-size: 20px;
    width: 80%;
    border: #FF7700 3px solid;
}

button {
    position: absolute;
    top: 315px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    border-radius: 10px;
    border: #FF7700 3px solid;
    z-index: 200;
}


#div {
    position: absolute;
    top: 450px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 80vw;
    height: 200px;
    text-align: center;
    word-wrap: break-word;
    border: #FF7700 solid 3px;
}

#div2 {
    position: absolute;
    top: 670px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 80vw;
    height: 200px;
    text-align: center;
    word-wrap: break-word;
    border: #FF7700 solid 3px;
}

#p {
    margin-left: 5px;
    margin-right: 5px;
}

#rules {
    position: absolute;
    top: 800px;
    margin-left: 5px;
    margin-right: 5px;
    color: white;
}

ul {
    position: absolute;
    top: 900px;
    margin-left: 5px;
    margin-right: 5px;
    color: white;
}